@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    margin:0;
    padding:0;
    background-color: black;
    color:white;
   width:100%;
   height: 100%;
   
}

.nine{
    display: flex;
    justify-content: center;    
}

.nine .switch {
    position: relative;
    display: inline-block;
   
    width: 40px;
    height: 20px;
  }
  
  .nine .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .nine .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: rgb(50, 50, 51);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .nine .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom:0px;
    right:2px;
    background-color:white;
   border:1px solid orangered;
    -webkit-transition: .01s;
    transition: .01s;
  }
  
  .nine input:checked + .slider {
    background-color: orangered;
  }
  
  .nine input:focus + .slider {
    box-shadow: 0 0 1px #121212;
  }
  
  .nine input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .nine .slider.round {
    border-radius: 34px;
  }
  
  .nine .slider.round:before {
    border-radius: 50%;
  }

  .nine .container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color:black;
    
    
    width: 700px;  
    margin-top:80px;
     margin-bottom: 20px;
    
    
}
.nine .box h4{
    padding-top: 2%;
   font-size: 10px;
   
}
.nine #head{
    display: flex;
}
.nine #head P{
    padding-left: 67%;
    font-size: 12px;
    padding-top: 12px;
    color: #5a5a5e;
}
.nine #head h4{
        font-size: 12px;
        font-weight: lighter;
        color: #5a5a5e;
}
.nine #head h5{
    font-size: 11px;
        font-weight: lighter;
        padding-top: 11px;
        padding-left: 2px;
}
.nine .box h2{
    margin-top: 5px;
    font-weight: lighter;
    font-size: 21px;
}
.nine .box h6{
    margin-top:-15px ;
    font-size: 15px;
    color: rgb(165, 158, 158);
    font-weight: lighter;
}
.nine .box h4{
   padding-left: 2%;
   text-align: left;
    
    
}
.nine .box{
    background-color: #121212;
    height: 570px;
   
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    
    border-radius: 10px;
    
    
}


.nine .box3 input{
    width: 620px;
    height: 28px;
    border-radius: 10px;
  background-color: rgb(63, 60, 57);
}
 
.nine .box2{
    padding-left: 2%;
}
.nine .box2 h5{
    text-align: left;
    padding-left:15px;
    font-weight: lighter;
        font-size: 16px;
}
.nine .box3{
    display:flex;
   
   

}
.nine .box3 label{
    margin-left: -75%;
    
}
.nine #span{
    color: red;
}
.nine .box input{
    margin-left:1vw;
    margin-right: 0.5vw;
}

.nine .box4{
    text-align: left;
}
.nine .box4 h5{
    font-size: 10px;

}
.nine .box4 li{
    margin-top: -15px;
}
.nine .box4 h6{
    margin-top: -10px;
    color: rgb(143, 133, 133);
    font-size: 10px;
}
.nine .box4 p{
    font-size: 13px;
}
  
.nine .container img{
    width: 20%;
}

.nine .button1{
    display: flex;
   
    margin-top: 250px;  
   
}
.nine .button1 a{
    
    
    background-color:#121212;
    color:#5a5a5e;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 2%;
   margin-top: 30px; 
    border: 1px solid #121212;
    text-decoration: none;
    padding-left: 8px;
    
}
.nine .button1 .next{
    border:1px solid black;
    padding-left:5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 8px;
    font-weight:lighter;
    font-size: 15px;
    background-color: orangered;
    color:white;
    margin-left:70%;
    margin-right: 2%;
    

    
}
 @media (min-width:835px) and (max-width:1536px){
    body{
        margin:0;
        padding:0;
        background-color: black;
        color:white;
       width:100%;
       height: 100%;
       
    }
    
    .nine .container{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color:black;
        
        
        width: 700px;  
        margin-top: 45px;
        margin-bottom: 20px;  
    }
    .nine .box h4{
        padding-top: 2%;
       font-size: 10px;
       
    }
    .nine .box h2{
        margin-top: 5px;
        font-weight: 400;
    }
    .nine .box h6{
        margin-top: -4px;
        margin-bottom: 20px;
        font-size: 14px;
        color: rgb(165, 158, 158);
        font-weight: 400;
    }
    .nine .box h4{
       padding-left: 2%;
       text-align: left;
        
        
    }
    .nine .box{
        background-color: #121212;
        height: 570px;
       
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 2%;
        
        border-radius: 10px;
        
        
    }
    
    
    .nine .box3 input{
        width: 620px;
        height: 28px;
        border-radius: 8px;
        background-color: rgb(63, 60, 57);
        border: none;
    }
     
    .nine .box2{
        padding-left: 2%;
    }
    .nine .box2 h5{
        text-align: left;
        padding-left: 15px;
        font-weight: 300;
        font-size: 14px;
        margin: 16px 0;
    }
    .nine .box3{
        display:flex;
       
       
    
    }
    
    .nine .box3 label{
        margin-left: -74%;
        
    }
    .nine #span{
        color: red;
    }
    .nine .box input{
        margin-left:1vw;
        margin-right: 0.5vw;
        margin-top: 13px;
    }
    
    .nine .box4{
        text-align: left;
    }
    .nine .box4 h5{
        font-size: 10px;

    }
    .nine .box4 li{
        margin-top: -15px;
    }
    .nine .box4 h6{
        margin-top: -10px;
        color: rgb(143, 133, 133);
        font-size: 10px;
    }
    .nine .box4 p{
        font-size: 13px;
    }
      
    .nine .container img{
        width: 20%;
    }
    
    .nine .button1{
        display: flex;
       
        margin-top: 250px;  
       
    }
    .nine .button1 a{
        
        
        background-color:#121212;
        color:#5a5a5e;
        font-size: 15px;
        font-weight: lighter;
        margin-left: 2%;
       margin-top: 30px; 
        border: 1px solid #121212;
        text-decoration: none;
        padding-left: 8px;
        
    }
    .nine .button1 .next{
        border:1px solid black;
        padding-left:5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 8px;
        font-weight:lighter;
        font-size: 15px;
        background-color: orangered;
        color:white;
        margin-left:70%;
        margin-right: 2%;
        
    }
        
}
@media (min-width:600px) and (max-width:835px){

    body{
    margin:0;
    padding:0;
    background-color: black;
    color:white;
   width:100%;
   height: 100%;
}

.nine .container{
    text-align: center;
    background-color:black;
    
    width: 92%;  
    margin-top:4%;
    
    
}
.nine .box{
    background-color: black;
}
.nine .box h4{
    padding-top: 2%;
    font-size: 10px;
    margin-left: -10px;
 
   
}
.nine .box2 {
   padding-bottom: 10px;
   padding:25px;   
   
}
.nine .box h2{
    margin-top: 5px;
    text-align: left;
}
.nine #head{
    display: flex;
}
.nine #head P{
    padding-left: 67%;
    font-size: 12px;
    padding-top: 12px;
    color: #5a5a5e;
}
.nine #head h4{
        font-size: 12px;
        font-weight: lighter;
        color: #5a5a5e;
}
.nine #head h5{
    font-size: 11px;
        font-weight: lighter;
        padding-top: 11px;
        padding-left: 2px;
}
.nine .box h6{
    margin-top:-15px ;
    font-size: 13px;
    color: rgb(165, 158, 158);
    text-align: left;
}
.nine .box h4{
   padding-left: 2%;
   text-align: left;
    
    
}
.nine #id{
    background-color: black;
   margin-left: 2%;
}



.nine .box3 input{
    width: 82Vw;
    height: 3.5vh;
    border-radius: 10px;
  background-color: rgb(63, 60, 57);
}
 
.nine .box2{
    padding-left: 2%;
    padding-top: 2%;
    border-radius:10px;
    background-color: #121212;
}
.nine .box2 h5{
    text-align: left;
    padding-left:10px;
    font-weight: lighter;
    font-size: 16px;
}
.nine .box3{
    text-align: left;
    
}




.nine .box3 label{
    margin-left: 1%;
}
.nine #span{
    color: red;
}
.nine .box input{
    margin-left:1vw;
    margin-right: 0.5vw;
}

.nine .box4{
    text-align: left;
}
.nine .box4 h5{
    font-size: 13px;
}
.nine .box4 li{
    margin-top: -15px;
}
.nine .box4 h6{
    margin-top: -10px;
    color: rgb(143, 133, 133);
    font-size: 10px;
}
.nine .box4 p{
    font-size: 12px;
}
  
.nine .container img{
    width: 20%;
}

.nine .button1{
    display: flex;
    background-color: #121212; 
    margin-top:32vh; 
    margin-right: -5.8vw;
    margin-left: -8vw;
    padding-left: 1vw;
    position:sticky;
    bottom: 0px;  
}
.nine .button1 a{
        
        
    background-color:#2a2a2c;
    color:white;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 25px;
    margin-top: 30px; 
    border: 1px solid #121212;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    
    
}
.nine .button1 .next{
    border:1px solid black;
    padding-left:30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    font-weight:lighter;
    font-size: 15px;
    background-color: orangered;
    color:white;
    margin-left:auto;
    margin-right: 25px;
    margin-top: 30px; 
    
    

    
}
}
@media (min-width:450px) and (max-width:600px){

    body{
    margin:0;
    padding:0;
    background-color: black;
    color:white;
   width:100%;
   height: 100%;
}

.nine .container{
    text-align: center;
    background-color:black;
    
    width: 92%;  
    margin-top:4%;
    
    
}
.nine .box{
    background-color: black;
}
.nine .box h4{
    padding-top: 2%;
    font-size: 10px;
    margin-left: -10px;
 
   
}
.nine .box2 {
   padding-bottom: 10px;
   padding:25px;   
   
}
.nine .box h2{
    margin-top: 5px;
    text-align: left;
}
.nine .box h6{
    margin-top:-15px ;
    font-size: 13px;
    color: rgb(165, 158, 158);
    text-align: left;
}
.nine .box h4{
   padding-left: 2%;
   text-align: left;
    
    
}
.nine #id{
    background-color: black;
   margin-left: 2%;
}



.nine .box3 input{
    width: 82Vw;
    height: 3.5vh;
    border-radius: 10px;
  background-color: rgb(63, 60, 57);
}
 
.nine .box2{
    padding-left: 2%;
    padding-top: 2%;
    border-radius:10px;
    background-color: #121212;
}
.nine .box2 h5{
    text-align: left;
    padding-left:10px;
    font-weight: lighter;
    font-size: 16px;
}
.nine .box3{
    text-align: left;
    
}

.nine .box3 label{
    margin-left: 1%;
}
.nine #span{
    color: red;
}
.nine .box input{
    margin-left:1vw;
    margin-right: 0.5vw;
}

.nine .box4{
    text-align: left;
}
.nine .box4 h5{
    font-size: 13px;
}
.nine .box4 li{
    margin-top: -15px;
}
.nine .box4 h6{
    margin-top: -10px;
    color: rgb(143, 133, 133);
    font-size: 10px;
}
.nine .box4 p{
    font-size: 12px;
}
  
.nine .container img{
    width: 20%;
}
.nine .button1 a{
        
        
    background-color:#2a2a2c;
    color:white;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 25px;
    margin-top: 30px; 
    border: 1px solid #121212;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    
    
}
.nine .button1 .next{
    border:1px solid black;
    padding-left:30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    font-weight:lighter;
    font-size: 15px;
    background-color: orangered;
    color:white;
    margin-left:auto;
    margin-right: 25px;
    margin-top: 30px; 
    
    

    
}
.nine .button1{
    display: flex;
    background-color: #121212; 
    margin-top:32vh; 
    margin-right: -9vw;
    margin-left: -8vw;
    padding-left: 1vw;
    
    position:sticky;
    bottom: 0px;  
}


}
@media (min-width:350px) and (max-width:450px){
     
     body{
    margin:0;
    padding:0;
    background-color: black;
    color:white;
   width:100%;
   height: 100%;
}

.nine .container{
    text-align: center;
    background-color:black;
    
    width: 92%;  
    margin-top:4%;
    
    
}
.nine .box{
    background-color: black;
}
.nine #head{
    display: flex;
}
.nine #head P{
    padding-left: 67%;
    font-size: 12px;
    padding-top: 12px;
    color: #5a5a5e;
}
.nine #head h4{
        font-size: 12px;
        font-weight: lighter;
        color: #5a5a5e;
}
.nine #head h5{
    font-size: 11px;
        font-weight: lighter;
        padding-top: 8px;
        padding-left: 2px;
}
.nine .box h4{
    padding-top: 2%;
    font-size: 10px;
    margin-left: -10px;
 
   
}
.nine .box2 {
   padding-bottom: 10px;
   padding:25px;   
   
}
.nine .box h2{
    margin-top: 5px;
    text-align: left;
}
.nine .box h6{
    margin-top:-15px ;
    font-size: 13px;
    color: rgb(165, 158, 158);
    text-align: left;
}
.nine .box h4{
   padding-left: 2%;
   text-align: left;
    
    
}
.nine #id{
    background-color: black;
   margin-left: 2%;
}



.nine .box3 input{
    width: 82Vw;
    height: 3.5vh;
    border-radius: 10px;
  background-color: rgb(63, 60, 57);
}
 
.nine .box2{
    padding-left: 2%;
    padding-top: 2%;
    border-radius:10px;
    background-color: #121212;
}
.nine .box2 h5{
    text-align: left;
    padding-left:10px;
    font-weight: lighter;
    font-size: 16px;
}
.nine .box3{
    text-align: left;
    
}

.nine .box3 label{
    margin-left: 1%;
}
.nine #span{
    color: red;
}
.nine .box input{
    margin-left:1vw;
    margin-right: 0.5vw;
}

.nine .box4{
    text-align: left;
}
.nine .box4 h5{
    font-size: 13px;
}
.nine .box4 li{
    margin-top: -15px;
}
.nine .box4 h6{
    margin-top: -10px;
    color: rgb(143, 133, 133);
    font-size: 10px;
}
.nine .box4 p{
    font-size: 12px;
}
  
.nine .container img{
    width: 40%;
}

.nine .button1 a{
        
        
    background-color:#2a2a2c;
    color:white;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 25px;
    margin-top: 30px; 
    border: 1px solid #121212;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    
    
}
.nine .button1 .next{
    border:1px solid black;
    padding-left:30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    font-weight:lighter;
    font-size: 15px;
    background-color: orangered;
    color:white;
    margin-left:auto;
    margin-right: 25px;
    margin-top: 30px; 
    
    

    
}
.nine .button1{
    display: flex;
    background-color: #121212; 
    margin-top:32vh; 
    margin-right: -9vw;
    margin-left: -8vw;
    padding-left: 1vw;
    
    position:sticky;
    bottom: 0px;  
}

} 
@media (min-width:270px) and (max-width:350px){
     
    body{
   margin:0;
   padding:0;
   background-color: black;
   color:white;
  width:100%;
  height: 100%;
}

.nine .container{
   text-align: center;
   background-color:black;
   
   width: 92%;  
   margin-top:4%;
   
   
}
.nine .box{
    background-color: black;
}
.nine .box h4{
   padding-top: 2%;
   font-size: 10px;
   margin-left: -10px;

  
}
.nine .box2 {
  padding-bottom: 10px;
  padding:25px;   
  
}
.nine .box h2{
   margin-top: 5px;
   text-align: left;
}
.nine .box h6{
   margin-top:-15px ;
   font-size: 13px;
   color: rgb(165, 158, 158);
   text-align: left;
}
.nine .box h4{
  padding-left: 2%;
  text-align: left;
   
   
}
.nine #head{
    display: flex;
}
.nine #head P{
    padding-left: 67%;
    font-size: 12px;
    padding-top: 12px;
    color: #5a5a5e;
}
.nine #head h4{
        font-size: 12px;
        font-weight: lighter;
        color: #5a5a5e;
}
.nine #head h5{
    font-size: 11px;
        font-weight: lighter;
        padding-top: 6px;
        padding-left: 2px;
}
.nine #id{
   background-color: black;
  margin-left: 2%;
}



.nine .box3 input{
   width: 82Vw;
   height: 3.5vh;
   border-radius: 10px;
 background-color: rgb(63, 60, 57);
}

.nine .box2{
   padding-left: 2%;
   padding-top: 2%;
   border-radius:10px;
   background-color: #121212;
}
.nine .box2 h5{
   text-align: left;
   padding-left:10px;
   font-weight: lighter;
   font-size: 16px;
}
.nine .box3{
   text-align: left;
   
}

.nine .box3 label{
   margin-left: 1%;
}
.nine #span{
   color: red;
}
.nine .box input{
   margin-left:1vw;
   margin-right: 0.5vw;
}

.nine .box4{
   text-align: left;
}
.nine .box4 h5{
   font-size: 13px;
}
.nine .box4 li{
   margin-top: -15px;
}
.nine .box4 h6{
   margin-top: -10px;
   color: rgb(143, 133, 133);
   font-size: 10px;
}
.nine .box4 p{
   font-size: 12px;
}
 
.nine .container img{
   width: 50%;
}

.nine .button1{
    display: flex;
    background-color: #121212; 
    margin-top:32vh; 
    margin-right: -5.8vw;
    margin-left: -8vw;
    padding-left: 1vw;
    position:sticky;
    bottom: 0px;  
}
.nine .button1 a{
        
        
    background-color:#2a2a2c;
    color:white;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 25px;
    margin-top: 30px; 
    border: 1px solid #121212;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    
    
}
.nine .button1 .next{
    border:1px solid black;
    padding-left:30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    font-weight:lighter;
    font-size: 15px;
    background-color: orangered;
    color:white;
    margin-left:auto;
    margin-right: 25px;
    margin-top: 30px; 
    
    

    
}
   

} 
@media (min-width:240px) and (max-width:270px){
     
    body{
   margin:0;
   padding:0;
   background-color: black;
   color:white;
  width:100%;
  height: 100%;
}

.nine .container{
   text-align: center;
   background-color:black;
   
   width: 92%;  
   margin-top:4%;
   
   
}
.nine .box{
    background-color: black;
}
.nine #head{
    display: flex;
}
.nine #head P{
    padding-left: 40%;
    font-size: 12px;
    padding-top: 12px;
    color: #5a5a5e;
}
.nine #head h4{
        font-size: 12px;
        font-weight: lighter;
        color: #5a5a5e;
}
.nine #head h5{
    font-size: 11px;
        font-weight: lighter;
        padding-top: 5px;
        padding-left: 2px;
}
.nine .box h4{
   padding-top: 2%;
   font-size: 10px;
   margin-left: -10px;

  
}
.nine .box2 {
  padding-bottom: 10px;
  padding:25px;   
  
}
.nine .box h2{
   margin-top: 5px;
   text-align: left;
}
.nine .box h6{
   margin-top:-15px ;
   font-size: 13px;
   color: rgb(165, 158, 158);
   text-align: left;
}
.nine .box h4{
  padding-left: 2%;
  text-align: left;
   
   
}
.nine #id{
   background-color: black;
  margin-left: 2%;
}



.nine .box3 input{
   width: 82Vw;
   height: 3.5vh;
   border-radius: 10px;
 background-color: rgb(63, 60, 57);
}

.nine .box2{
   padding-left: 2%;
   padding-top: 2%;
   border-radius:10px;
   background-color: #121212;
}
.nine .box2 h5{
   text-align: left;
   padding-left:10px;
   font-weight: lighter;
        font-size: 16px;
}
.nine .box3{
   text-align: left;
   
}

.nine .box3 label{
   margin-left: 1%;
}
.nine #span{
   color: red;
}
.nine .box input{
   margin-left:1vw;
   margin-right: 0.5vw;
}

.nine .box4{
   text-align: left;
}
.nine .box4 h5{
   font-size: 13px;
}
.nine .box4 li{
   margin-top: -15px;
}
.nine .box4 h6{
   margin-top: -10px;
   color: rgb(143, 133, 133);
   font-size: 10px;
}
.nine .box4 p{
   font-size: 12px;
}
 
.nine .container img{
   width: 60%;
}

.nine .button1{
    display: flex;
    background-color: #121212; 
    margin-top:32vh; 
    margin-right: -5.8vw;
    margin-left: -8vw;
    padding-left: 1vw;
    position:sticky;
    bottom: 0px;  
}
.nine .button1 a{
        
        
    background-color:#2a2a2c;
    color:white;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 25px;
    margin-top: 30px; 
    border: 1px solid #121212;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    
    
}
.nine .button1 .next{
    border:1px solid black;
    padding-left:30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    font-weight:lighter;
    font-size: 15px;
    background-color: orangered;
    color:white;
    margin-left:auto;
    margin-right: 25px;
    margin-top: 30px; 
    
    

    

} 
} 
@media  (max-width:240px){
     
    body{
   margin:0;
   padding:0;
   background-color: black;
   color:white;
  width:100%;
  height: 100%;
}

.nine .container{
   text-align: center;
   background-color:black;
   
   width: 92%;  
   margin-top:4%;
   
   
}
.nine .box{
    background-color: black;
}
.nine .box h4{
   padding-top: 2%;
   font-size: 10px;
   margin-left: -10px;

  
}
.nine .box2 {
  padding-bottom: 10px;
  padding:25px;   
  
}
.nine .box h2{
   margin-top: 5px;
   text-align: left;
}
.nine .box h6{
   margin-top:-15px ;
   font-size: 13px;
   color: rgb(165, 158, 158);
   text-align: left;
}
.nine .box h4{
  padding-left: 2%;
  text-align: left;
   
   
}
.nine #id{
   background-color: black;
  margin-left: 2%;
}



.nine .box3 input{
   width: 82Vw;
   height: 3.5vh;
   border-radius: 10px;
 background-color: rgb(63, 60, 57);
}

.nine .box2{
   padding-left: 2%;
   padding-top: 2%;
   border-radius:10px;
   background-color: #121212;
}
.nine .box2 h5{
   text-align: left;
   padding-left:10px;
   font-weight: lighter;
   font-size: 16px;
}
.nine .box3{
   text-align: left;
   
}

.nine .box3 label{
   margin-left: 1%;
}
.nine #span{
   color: red;
}
.nine .box input{
   margin-left:1vw;
   margin-right: 0.5vw;
}

.nine .box4{
   text-align: left;
}
.nine .box4 h5{
   font-size: 13px;
}
.nine .box4 li{
   margin-top: -15px;
}
.nine .box4 h6{
   margin-top: -10px;
   color: rgb(143, 133, 133);
   font-size: 10px;
}
.nine .box4 p{
   font-size: 12px;
}
 
.nine .container img{
   width: 70%;
}
.nine #head{
    display: flex;
}
.nine #head P{
    padding-left: 35%;
    font-size: 12px;
    padding-top: 12px;
    color: #5a5a5e;
}
.nine #head h4{
        font-size: 12px;
        font-weight: lighter;
        color: #5a5a5e;
}
.nine #head h5{
    font-size: 11px;
        font-weight: lighter;
        padding-top: 4px;
        padding-left: 2px;
}
.nine .button1 a{
        
        
    background-color:#2a2a2c;
    color:white;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 40px;
    margin-top: 30px; 
    margin-right: 40px;
    border: 1px solid #121212;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    
    
}
.nine .button1 .next{
    border:1px solid black;
    padding-left:30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    font-weight:lighter;
    font-size: 15px;
    background-color: orangered;
    color:white;
    margin-left:40px;
    margin-right: 40px;
    margin-top: 30px; 
    
    

    
}
.nine .button1{
    display:inline-block;
    background-color:#121212; 
    margin-top:16.5vh; 
    
    padding-left: 1vw;
    width: 130%;
    margin-left: -10vw;
    
    position:sticky;
    bottom: 0px;  
}
} 
