@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html, body, .first div, span, applet, object, iframe,
.first h1, .first h2, .first h3, .first h4, .first h5, .first h6, .first p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, .first ol, .first ul, .first li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
    
}

body{
    display: block;
    background-color: black;
}
.first .logo{
    margin-bottom: 20px;
    
}
.first .logo img{
   
   height: 100%;
   width: 100px;
   display:block;
   margin:auto;
   
   

}
.first .container{
width: 55%;
height:55%;
padding: 33px;
background-color: #121212;
border: 1px solid #1c1c1e;
border-radius: 8px;
position: relative;
justify-content: center;
margin: 0 auto;
font-family: 'Poppins', sans-serif;
line-height: 18px;



}
.first .company_type{
    color: grey;
    font-size: 12px;
}
.first .percentage{
    color: grey;
    font-size: 12px;
    
    
    
    
}
.first .percentage p{
    text-align: right;
    margin-top: -3%;

}
.first .company_heading h2{
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: 24px;
    letter-spacing:.34px;
}
.first .compnay_subheading h3{
    margin-top: 9px;

    font-size: 13px;
    color: white;
    text-align: center;
    font-weight: 300;
    color: grey;

}
.first .selectors{
    justify-content: center;
    height: 100%;
    width: 100%;
}
.first .first_selector{
    background-color: #1c1c1e;
    border: 2px solid transparent;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    color: white;
    font-size: 10px;
    padding:16px 14px 14px 10px;

}
.first .first_selector:hover{
    background-color: #26262b;
    cursor: pointer;
    
}

.selected{
    border: 2px solid #f53f00 !important;
    background-color: #2e2322 !important;
}

.first .first_selector p{
    font-size: 14px;
    color: grey;

}
.first .first_selector h1{
    font-size: 14px;
}
.first .second_selector{
    background-color: #1c1c1e;
    border: 2px solid transparent;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    color: white;
    font-size: 10px;
    padding:16px 14px 14px 10px;
}
.first .second_selector:hover{
    background-color:#26262b;
}
.first .second_selector p{
    font-size: 13px;
    color: grey;
}
.first .second_selector h1{
    font-size: 14px;
}
.first a{

    text-decoration: none;
    color: red;
}
.first .link{
    color: red;
    font-size: 13px;
    margin-top:  20px;
}
.first .buttons{
    display: space-around;
    

}
.first .buttons_two{
    display: space-around;
    
    

}
.first .next_button{
   
    text-align: right;
    margin-top: -5%;
}
.first .next_button button{
    
    padding: 11px 32px;
    background-color: #f53f00;
    border: 2px solid black;
    border-radius: 12px;
    color: white;
    margin-top: 15%;
   

}

.first .back_button a{
    color: rgb(73, 71, 71);
    line-height: 20px;
    overflow: auto; 


    
}
.first .back_button{
    margin-top: 15%;

}
.first .back_button a:hover{
    color: white;
}

.first .next_button button:hover{
    background-color: #8d3011;
    transition:  1s;
    cursor: pointer;



}

@media only screen and (max-width: 768px){
    .first .container{
        width: auto;
        height: auto;
        
    }
    .first .logo{
        margin: 20px;
    }
   
    .first .selectors{
        width: 100%;
        height: 100%;
       
    }
    
    .first .selectors{
        padding: 20px;
        background-color: #121212;
        border: 1px solid #1c1c1e;
        border-radius: 8px;
    }
    .first .container .company_heading h2{
        
        text-align: left;
        
    }
    .first .container .compnay_subheading h3{
        margin-bottom: 20px;
       
        text-align: left;

    }
    .first .company_type{
        margin-bottom: 25px;
    }
    .first .flex{
        display: flex;
    }
    .first .percentage p{
        margin-left: 95%;
        margin-top: -40px;
    }
    .first .buttons{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 46px;
        background-color: #121212;
        z-index: 3;

    }
    .first .buttons_two{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 36px;
        background-color: #121212;
        z-index: 3;
        line-height: 20px;
        
    }
    .first .next_button{
        position: fixed;
        bottom: 20px;
        right: 20px;
        
       
    }
    .first .next_button button{
        padding: 20px 40px 20px 40px;
      
    }
    .first .company_heading h2{
        font-size: 19px;

    }
    .first .back_button a{
        padding: 15px 40px 15px 20px;
        background-color: #2a2a2c;
        border-radius: 8px;
        color: white;
    
    }
    
    
}