*{
    --text-dark: #5a5a5e;
    --text-light: #989899;
    --text-red: #d65831;
    --button-red: #f53f00;
}

.fourteen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.fourteen img{
    height: 20px;
    width: 115px;
}

.fourteen .main-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border: 1px solid #1c1c1e;
    border-radius: 8px;
    margin: 20px 0;
    width: 46%;
}

.fourteen .main-card .card-header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: var(--text-dark);
    font-size: 12px;
    margin: 20px 35px 0 35px;
}

.fourteen .main-card .card-title h2{
    font-weight: 300;
    font-size: 21px;
    text-align: center;
    margin: 0;
}

.fourteen .main-card .card-subtitle p{
    font-size: 14px;
    text-align: center;
    color: var(--text-light);
    margin: 0;
}

.fourteen .card-content{
    width: 90%;
    color: var(--text-light);
}

.fourteen .form-header{
    font-size: 11px;
}

.fourteen .form-header p{
    margin-top: 22px;
}

.fourteen .form-content span{
    color: white;
}

.fourteen .form-content .contact{
    display: flex;
}

.fourteen .form-content .contact span{
    font-size: 13px;
}

.fourteen .form-content .column-1 p, .fourteen .form-content .column-2 p{
    margin-top: 10px;
    margin-bottom: 0;
}

.fourteen .form-content .contact .column-1{
    font-size: 12px;
    margin-right: 70px;
}

.fourteen .form-content .contact .column-2{
    font-size: 12px;
}

.fourteen .form-content .company{
    display: flex;
}

.fourteen .form-content .company span{
    font-size: 13px;
}

.fourteen .form-content .company .column-1{
    font-size: 12px;
    margin-right: 84px;
}

.fourteen .form-content .company .column-2{
    font-size: 12px;
}

.fourteen .form-content .buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 35px;
}

.fourteen .back-button{
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.fourteen .back-button:hover a{
    color: white;
}

.fourteen .back-button a{
    text-decoration: none;
    color: var(--text-dark);
}

.fourteen .next-button{
    background-color: var(--button-red);
    border: none;
    padding: 13px 33px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.fourteen .next-button a{
    text-decoration: none;
    color: white;
}

/* Utility Classes */
.fourteen .text-white{
    color: white;
}

.fourteen .text-red{
    color: var(--text-red) !important;
}

/* Responsive */
@media screen and (max-width: 970px) {
    .fourteen{
        margin: 0;
    }
    
    .fourteen .logo{
        position: sticky;
        top: 0px;
        background-color: black;
        padding: 25px 40%;
    }

    .fourteen img{
        height: 20px;
        width: 115px;
    }

    .fourteen .main-card{
        width: 95%;
        margin-bottom: 160px;
    }

    /* .fourteen .card-content{
        margin-top: 30px;
    } */

    .fourteen .form-content .contact {
        display: flex;
        flex-direction: column;
    }

    .fourteen .form-content .contact .column-1{
        display: flex;
        justify-content: space-between;
        margin-right: 0;
    }

    .fourteen .form-content .company {
        display: flex;
        flex-direction: column;
    }

    .fourteen .form-content .company .column-1{
        display: flex;
        justify-content: space-between;
        margin-right: 0;
    }

    .fourteen .form-content .contact .column-1 p, .fourteen .form-content .company .column-1 p{
        margin-bottom: 0;
    }

    .fourteen .form-content .buttons{
        position: fixed;
        bottom: 0px;
        background-color: #121212;
        padding: 20px;
        margin-bottom: 0;
        right: 0px;
        left: 0px;
    }

    .fourteen .back-button{
        background-color: #2a2a2c;
        padding: 18px 31px;
        border-radius: 8px;
    }

    .fourteen .back-button a{
        color: white;
    }

    .fourteen .next-button{
        padding: 18px 35px;
    }
}

@media screen and (max-width: 570px) {
    .fourteen .logo{
        padding: 25px 37%;
    }
}

@media screen and (max-width: 330px) {
    .fourteen .logo{
        padding: 25px 30%;
    }
}

@media screen and (max-width: 300px) {
    
}
    