*{
    --text-dark: #5a5a5e;
    --text-light: #989899;
    --text-red: #d65831;
    --button-red: #f53f00;
}

.dashboard{
    display: grid;
    grid-template-areas: "nav-bar main-area main-area";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    font-family: sans-serif;
}

.dashboard .nav-bar{
    grid-area: nav-bar;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    height: 100vh;
    color: #47474a;
    border-right: 1px solid #1c1c1e;
    padding-right: 38px;
}

.dashboard .nav-bar img{
    height: 16px;
    width: 90px;
}

.dashboard .top{
    margin-bottom: auto;
}

.dashboard .top .logo{
    margin: 16px;
} 

.dashboard .nav-links ul{
    padding: 20px 0 0 15px;
    font-size: 15px;
}

.dashboard .nav-links ul li{
    padding: 7px 0;
}

.dashboard .bottom ul{
    padding: 20px 0 0 15px;
    font-size: 15px;
}

.dashboard .bottom ul li{
    padding: 7px 0;
}

.dashboard .bottom .icon-1{
    margin-right: 15px;
}

.dashboard .bottom .icon-2{
    margin-right: 13px;
}

.dashboard .bottom .icon-3{
    margin-right: 17px;
}

/* .dashboard .bottom{
   
} */

.dashboard .mobile-navbar{
    display: none;
    position: absolute;
}

.dashboard .main-area{
    grid-area: main-area;
}

.dashboard .main-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #1c1c1e;
}

#select-company{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#select-company option{
    background-color: black;
    color: white;
}

.dashboard .main-top .profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .main-top .profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background: linear-gradient(132.8deg,#007aff -44.74%,#af52de 77.31%),#c4c4c4;
    border-radius: 8px;
}

.dashboard .main-top .sign-out{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 11px;
    position: absolute;
}

#arrow-icon{
    margin-left: 10px;
}

#signout-icon{
    margin-right: 10px;
}

.dashboard .main-view{
    margin: 20px 0;
    padding: 0 30px;
}

.dashboard .main-view h3{
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: inherit;
    margin: 5px 0 29px 0;
    border-bottom: none;
}

.dashboard .main-view span{
    color: #ffffff;
    background-color: transparent;
}

.dashboard .steps{
    display: flex;
    justify-content: space-around;   
}

.dashboard .step-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard .step-top h5{
    font-size: 10px;
    color: var(--text-dark);
}

.dashboard .step-1, .dashboard .step-2,.dashboard .step-3,.dashboard .step-4 {
    display: flex;
    flex-direction: column;
    background-color: #131313;
    border: 1px solid #1c1c1e;
    width: 24%;
    border-radius: 10px;
    padding: 0 10px;
}

.dashboard .steps h5{
    margin: 5px 0;
}

.dashboard .steps h4{
    margin: 0;
    font-weight: 300;
    font-size: 14px;
}

.dashboard .steps p{
    font-size: 12px;
    color: var(--text-light);
}

.dashboard .warning{
    display: flex;
    align-items: center;
    background-color: #252528;
    color: #ff453b;
    margin: 15px 6px;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px 16px;
    width: 62%;
}

.dashboard .warning p{
    margin-left: 20px;
    margin-top: inherit;
}

.dashboard .company-details{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.dashboard .company-details .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255,255,255,.08);
    margin: 10px 10px 10px 7px;
    padding: 0 10px;
    width: 22%;
    border-radius: 8px;
}

.dashboard .company-details .box h4{
    font-weight: lighter;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.dashboard .company-details .box p{
    color: var(--text-light);
    font-size: 14px;
    margin: 0;
}

.dashboard .company-details .box .task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ff453b;
    margin: 35px 0 18px 0;
}

.dashboard .company-details .box .task p{
    color: #ff453b;
}

.dashboard .finish-app button{
    margin: 25px 9px;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    background-color: orangered;
    color: white;
}

.dashboard .search{
    width: 4%;
}

.dashboard .search button{
    background-color: #252528;
    border: 2px solid #252528;
}

.dashboard .input input{
    background-color: #252528;
    border: 2px solid #252528;
}

.dashboard .rewards{
    margin: 30px 0 5px 8px;
}

.dashboard .rewards h3{
    color: white;
}

.dashboard .rewards p{
    color: var(--text-light);
}

.dashboard .cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dashboard .section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f1f1f;
    margin: 30px 10px;
    border-radius: 8px;
    height: 150px;
    width: 500px;
    -webkit-animation: scaledown .1s ease;
    animation: scaledown .1s ease-out;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
}

.vx-card {
    -webkit-animation: scaledown .1s ease;
    animation: scaledown .1s ease-out;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;

}

.vx-card:hover {
    z-index: 100;
    -webkit-animation: scale .1s ease-out;
    animation: scale .1s linear;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.dashboard .section h2{
    font-weight: 600;
    font-size: 30px;
}

.dashboard .section .card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    width: 44%;
}

.dashboard .section .card-text p{
    color: var(--text-dark);
}

@media screen and (max-width: 840px) {
    .dashboard .nav-bar{
        display: none;
    }

    .dashboard .mobile-navbar{
        display: block;
    }

    #select-company{
        display: none;
    }

    .dashboard .main-top {
        justify-content: flex-end;
    }

    /* Bootstrap */

    .navbar-light .navbar-toggler-icon {
        background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28255, 255, 255, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e');
    }

    .offcanvas{
        background-color: #121212;
    }

    .offcanvas-start {
        width: 322px;
    }

    .nav-link {
        color: white;
    }
}