@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: black;
}
.second .logo{
    margin-bottom: 20px;
    
}
.second .logo img{
   
   height: 100%;
   width: 100px;
   display:block;
   margin:auto;
   
   

}
.second .container{
width: 55%;
height:55%;
padding: 33px;
background-color: #121212;
border: 1px solid #1c1c1e;
border-radius: 8px;
position: relative;
justify-content: center;
margin: 0 auto;
font-family: 'Poppins', sans-serif;
line-height: 18px;



}
.second .company_type{
    color: grey;
    font-size: 12px;
}
.second .percentage{
    color: grey;
    font-size: 12px;
    
    
    
    
}
.second .percentage p{
    text-align: right;
    margin-top: -3%;

}
.second .company_heading h2{
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: 24px;
    letter-spacing:.34px;
}
.second .compnay_subheading h3{
    margin-top: 9px;

    font-size: 13px;
    color: white;
    text-align: center;
    font-weight: 300;
    color: grey;

}
.second .selectors{
    justify-content: center;
    height: 100%;
    width: 100%;
}
.second .first_selector{
    background-color: #1c1c1e;
    border: 2px solid transparent;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    color: white;
    font-size: 10px;
    padding:16px 14px 14px 10px;


}
.second .first_selector:hover{
    background-color: #26262b;


}
.second .first_selector p{
    font-size: 14px;
    color: grey;

}
.second .first_selector h1{
    font-size: 14px;
}
.second .second_selector{
    background-color: #1c1c1e;
    border: 2px solid transparent;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    color: white;
    font-size: 10px;
    padding:16px 14px 14px 10px;
}
.second .second_selector:hover{
    background-color:#26262b;
}
.second .second_selector p{
    font-size: 13px;
    color: grey;
}
.second .second_selector h1{
    font-size: 14px;
}
.second a{

    text-decoration: none;
    color: red;
}
.second .link{
    color: red;
    font-size: 13px;
    margin-top:  20px;
}
.second .buttons{
    display: space-around;
    

}
.second .buttons_two{
    display: space-around;
    
    

}
.second .next_button{
   
    text-align: right;
    margin-top: -5%;
}
.second .next_button button{
    
    padding: 11px 32px;
    background-color: #f53f00;
    border: 2px solid black;
    border-radius: 12px;
    color: white;
    
   

}

.second .back_button a{
    color: rgb(73, 71, 71);
    line-height: 20px;
    overflow: auto; 


    
}
.second .back_button{
    margin-top: 15%;

}
.second .back_button a:hover{
    color: white;
}

.second .next_button button:hover{
    background-color: #8d3011;
    transition:  1s;
    cursor: pointer;



}

@media only screen and (max-width: 768px){
    .second .container{
        width: auto;
        height: auto;
        
    }
   
    .second .selectors{
        width: 100%;
        height: 100%;
       
    }
    .second .logo{
        margin: 20px;
    }
    
    .second .selectors{
        padding: 20px;
        background-color: #121212;
        border: 1px solid #1c1c1e;
        border-radius: 8px;
    }
    .second .container .company_heading h2{
        
        text-align: left;
        
    }
    .second .container .compnay_subheading h3{
        margin-bottom: 20px;
       
        text-align: left;

    }
    .second .company_type{
        margin-bottom: 25px;
    }
    .second .flex{
        display: flex;
    }
    .second .percentage p{
        margin-left: 95%;
        margin-top: -40px;
    }
    .second .buttons{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 46px;
        background-color: #121212;
        z-index: 3;

    }
    .second .buttons_two{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 36px;
        background-color: #121212;
        z-index: 3;
        line-height: 20px;
        
    }
    .second .next_button{
        position: fixed;
        bottom: 20px;
        right: 20px;
        
       
    }
    .second .next_button button{
        padding: 20px 40px 20px 40px;
      
    }
    .second .company_heading h2{
        font-size: 19px;

    }
    .second .back_button a{
        padding: 15px 40px 15px 20px;
        background-color: #2a2a2c;
        border-radius: 8px;
        color: white;
    
    }
    
    
}